h1 {
  color: rgb(175, 167, 167);
  text-align: center;
  

}

header {
  border: 5px solid black;
  background-color: black;
}

body {
background-color:lightblue ;


} 

h2{
  color: blue);
}



li {
  color:whitesmoke;
  font-size: medium;
  font-family: cursive;
}

p {
  color: rgb(0, 12, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;

}




  


